.lead__image-conatainer {
  position: relative;
  text-align: center;
  line-height: 0;
  margin: 64px 0 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__image-conatainer {
    margin: 40px 0 0;
  }
}
