.lead__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
  color: #fff;
  margin: 8px 0 0;
}

@media all and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media all and (max-width: 425px) {
  .lead__caption {
    padding-left: 16px;
  }
}
